{% extends "_base.html" %}

{% block title %}
title = 'Wrestler_DB'
{% endblock %}

{% block content %}

  <div class="container">
    <h1>Welcome to Wrestler_DB</h1>
    <br>
    <a href="/wrestlers/new" class="btn btn-success btn-md">Add Wrestler</a>
    <br><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Finishing Move</th>
          <th>Catch Phrase</th>
          <th>Delete?</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        {% for wrestler in wrestlers %}
          <tr>
            <td>{{wrestler.id}}</td>
            <td>{{wrestler.name}}</td>
            <td>{{wrestler.finishing_move}}</td>
            <td>{{wrestler.catch_phrase}}</td>
            <td><button class="btn btn-sm btn-danger delete-btn" data-id="{{wrestler.id}}">X</button></td>
            <td><button type="button" class="btn btn-primary btn-sm update-btn" data-toggle="modal" data-target="#myModal" data-id="{{wrestler.id}}" data-name="{{wrestler.name}}" data-finisher="{{wrestler.finishing_move}}" data-catchPhrase="{{wrestler.catch_phrase}}">Update</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form id="modal-form">
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="input-name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="finisher" id="input-finisher">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="catchPhrase" id="input-catchPhrase">
              </div>
              <input type="hidden" name="id" id="input-id">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
